@{
    ViewBag.Title = "Select template";
}

<h2>Выберите шаблон</h2>

<canvas id="canv1" class="canv1">
    Обновите браузер. Необходимо, чтобы он поддерживал HTML5
</canvas>
<br />
<div id="error-msgs" class="error-msgs"></div>
<input id="Button1" type="button" value="Далее" class="next-button btn btn-success" onclick="nextPage()" />

<style type="text/css">
    h2 {
        margin-left: 30px;
    }

    canvas {
        border: 2px solid rgba(85, 85, 85, 0.1);
        margin: 20px auto 0 auto;
        display: block;
    }

    .next-button {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 40px;
    }

    .error-msgs {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script src="~/Scripts/cardsLogic/cardTemplatesLogic.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    initCanvas();

    function addText(tag, txt) {
        document.getElementById(tag).innerHTML = txt;
    }

    function nextPage() {
        var msg = '<div class="alert alert-danger" role="alert">';
        var err = 0;
        if (!selectedTemplate.numberTemplate) {
            msg += '<i class="glyphicon glyphicon-exclamation-sign"></i> Не выбран шаблон';
            err = 1;
        } else {
            window.location.replace("/Card/EditCard?template=" + selectedTemplate.numberTemplate);
            return;
        }
        msg += '</div>';
        if (err === 1) {
            addText('error-msgs', msg);
        } else {
            addText('error-msgs', '');
        }
    }
</script>