@{
    ViewBag.Title = Resource.ManageCards;
}

@if (Session["createdNewCard"] != null)
{
    Session["createdNewCard"] = null;
    <br />
    <div id="error-msgs" class="error-msgs">
        <div class="alert alert-success" role="alert">
            <i class="glyphicon glyphicon-ok-circle"></i> Новая визитка успешно сохранена!
        </div>
    </div>
}

<table border="1">
    <tbody>
        <tr>
            <td>
                Тут будут мои визитки
            </td>
            <td>
                <a href="/Card/CardTemplates">
                    Добавить визитку
                </a>
            </td>
        </tr>
    </tbody>
</table>

<style type="text/css">
    table {
        margin: 30px auto 0 auto;
        display: block;
        width: 80%;
        height: 60%;
        text-align: center;
    }

    .error-msgs {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
</style>