@{
    ViewBag.Title = Resource.ManageCards;
}

<table border="1">
    <tbody>
        <tr>
            <td>
                Тут будут мои визитки
            </td>
            <td>
                <a href="/Card/CardTemplates">
                    Добавить визитку
                </a>
            </td>
        </tr>
    </tbody>
</table>

<style type="text/css">
    table {
        margin: 30px auto 0 auto;
        display: block;
        width: 80%;
        height: 60%;
        text-align: center;
    }
</style>