@{
    ViewBag.Title = "Card Edit";
}

<table>
    <tbody>
        <tr>
            <td>
                <div class="container">
                    <div class="picNewCard">
                        <div class="newCard">
                            <a href="/Card/CardTemplates">
                                <img style="width: 100%;" src="~/Content/Images/newCard-btn.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="seeCard">
                        <img style="width: 100%;" src="~/Content/Images/seeMyCard-btn.png" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<style type="text/css">
    table {
        margin: 30px auto 0 auto;
        display: block;
        width: 80%;
        height: 60%;
        text-align: center;
    }

    .newCard {
        transition: opacity .5s, transform .5s;
        transform: scale(.95, .95) rotate(0deg);
        opacity: .9;
    }

        .newCard:hover {
            transition: opacity .5s, transform .5s;
            transform: scale(1, 1) rotate(2deg);
            opacity: 1;
        }

    .seeCard {
        transition: opacity .5s, transform .5s;
        transform: scale(.95, .95) rotate(0deg);
        opacity: .9;
    }

        .seeCard:hover {
            transition: opacity .5s, transform .5s;
            transform: scale(1, 1) rotate(-2deg);
            opacity: 1;
        }
</style>