@{
    ViewBag.Title = Resource.SeeCard;
}

<div class="mainDiv" id="mainDiv"></div>

<style type="text/css">
    .mainTable {
        margin: 20px auto 20px auto;
    }

    .piccards {
        margin: 0 auto 0 auto;
        display: block;
        z-index: 1;
    }

    .tdHeader, .tdFooter {
        background-color: rgba(0,0,0,.1);
        border-radius: 15px;
        text-align: center;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/cardsLogic/cardViewLogic.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    function addText(tag, txt) {
        document.getElementById(tag).innerHTML = txt;
    }

    jQuery(document).ready(function ($) {
        card = "@Request.Params["card"]";
        if (card == "") {
            document.location.replace("/");
        } else {
            initCard();
        }

        function copyToClipboard(text) {
            window.prompt('@Resource.CopyToClipboard', text);
        }

        $('body').on('click', '#get-link', function () {
            var url = window.location.href;
            copyToClipboard(url);
        });
    });

</script>