@{
    ViewBag.Title = Resource.About;
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <hr />
    <p>
        <i class="glyphicon glyphicon-play"></i>
        Приветствуем! <br />
        CardMe - это сервис для создания визиток онлайн. С нами Ваш бизнес станет немного продуктивнее. Создавайте неограниченное число визиток, делитесь ими с друзьями и оценивайте карточки других пользователей.
        Спасибо, что Вы с нами.<br />
        С наилучшими пожеланиями,<br />
        команда CardMe.
    </p>
    <hr />
    <p>
        <i class="glyphicon glyphicon-play"></i>
        Welcome!<br />
        CardMe - is a service for creating business cards online. With us, your business will be a little more productive. Create an unlimited number of cards, share them with your friends and rate cards of other users.
        Thank you for being with us.<br />
        Best regards,<br />
        CardMe-team.
    </p>
</div>
