@{
    ViewBag.Title = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>CardId</th>
            <th>CardUserId</th>
            <th>CardTemplate</th>
            <th>CardName</th>
            <th>CardRating</th>
            <th>InfoId</th>
            <th>InfoType</th>
            <th>InfoContent</th>
            <th>CardInfoId</th>
            <th>CardInfoCardId</th>
            <th>CardInfoInfoId</th>
            <th>CardInfoPositionX</th>
            <th>CardInfoPositionY</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
            <td>
                123
            </td>
        </tr>
    </tbody>
</table>